RewriteEngine On
RewriteBase /DEV-GABRIEL/

# Permite acesso direto a arquivos estáticos (css, js, imagens, etc)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redireciona todas as outras requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
